# http://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,mjs,ts,html}]
charset = utf-8
indent_style = tab

[*.{js,mjs,ts}]
indent_size = 4
trim_trailing_whitespace = true
